%% -*- mode:erlang -*-
{mode, max}.

{duration, 10}.

{concurrent, 10}.

{driver, basho_bench_driver_json}.

{code_paths, ["/Users/bryan/misc/json/ebin"]}.
              %"/Users/bryan/work/riak-1.4/deps/mochiweb/ebin"]}.

{json_decoder, mochijson2}.

{key_generator, {uniform_int, 50000}}.

{value_generator, {uniform_int, 50000}}.

{operations,
 [
  {{decode, int}, 1},
  {{decode, float}, 1},
  {{decode, {string, 100}}, 1},
  {{decode, boolean}, 1},
  {{decode, {array, 100}}, 1},
  {{decode, {object, 100}}, 1}
 ]}.
